[class*="__container"] {
	max-width: 1260px;
	margin: 0px auto;
	padding: 0px 15px;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
}

.wrapper > main {
	flex: 1 0 auto;
}

body {
}
/* =============================================================================================== */
